<a><%= link_to 'Show List Order', {:controller => '/mtx_order', :action => 'show_list'} %></a>
</br>
<a><%= link_to 'Show List User', {:controller => '/mtx_user', :action => 'show_list'} %></a>
<p><b>I18n.locale:</b>
  <%= I18n.locale %>
</p>