<h1>Sign up</h1>

<%= form_for @user, :url => {:action => "create"} do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="col-xs-3">
      <div class="field ">
        <label>Full Name</label><br/>
        <input type="text" name="mtx_user[fullname]" class="form-control" id="fullname" placeholder="Full Name">
      </div>
      <div class="field ">
        <label>User Name</label><br/>
        <input type="text" name="mtx_user[username]" class="form-control" id="username" placeholder="User Name">
      </div>
      <div class="field ">
        <label>Password</label><br/>
        <input type="password" name="mtx_user[password]" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="field ">
        <label>Confirmation</label> <br/>
        <input type="password" name="mtx_user[password_confirmation]" class="form-control" id="password_confirmation" placeholder="Password Confirmation">
      </div>
      <div class="field ">
        <label>Email</label><br/>
        <input type="text" name="mtx_user[email]" class="form-control " id="email" placeholder="Email">
      </div>
      </br>
      <div class="actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

<% end %>