/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.language_div {
    float: right;
    color: white;
    right: 0px;
}

.language_div > p {
    color: white;
}

.language_div > p > a {
    color: gray !important;
}

.vi_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    background: url(/assets/vi_flag.png) no-repeat 0 0;
    background-size: 100%;
}

.us_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    background: url(/assets/us_flag.png) no-repeat 0 0;
    background-size: 100%;
}

.dropdown {
    cursor: pointer;
}

.menu_item_information {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.inputLogin {
    margin-top:10px;
}

.cart {
    float: right;
}

.cart_icon:hover {
    background-color: transparent;
}

.cart_icon:after {
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    background: url(/assets/cart.png) no-repeat 0 0;
    background-size: 100%;
    margin-top: 5px;
}

.dispNone {
    display: none;
}

.user_name_label {
    color: white;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.floatLeft {
    float: left;
}

.menu_content {
    display: inline-block;
    width: 100%;
}
