<footer>

  <div class="footer-inside center-global cf">

    <div class="footer-1">
      <h2>Recipe Categories</h2>
      <ul class="cf">
        <li><a href="#25">Meat free recipes</a></li>
        <li><a href="#26">Thai recipes</a></li>
        <li><a href="#27">Dairy free recipes</a></li>
        <li><a href="#28">French recipes</a></li>
        <li><a href="#29">Vegan recipes</a></li>
        <li><a href="#30">Aussie recipes</a></li>
        <li><a href="#31">Shellfish-free recipes</a></li>
        <li><a href="#32">Children recipes</a></li>
      </ul>
    </div><!-- .footer-1 -->

    <div class="footer-2">
      <h2>Our Contributors</h2>
      <ul>
        <li><a href="#33">Xavier Mathieu</a></li>
        <li><a href="#34">Simon Mackie</a></li>
        <li><a href="#35">Kate Smith</a></li>
      </ul>

    </div><!-- .footer-2 -->

    <div class="footer-3">
      <h2>Colophon</h2>
      <ul>
        <li><a href="#36">Contact details</a></li>
        <li><a href="#37">Advertiser details</a></li>
        <li><a href="#38">RSS feed</a></li>
      </ul>

      <p>Copyright 2013<br>© RecipeFinder</p>

    </div><!-- .footer-3 -->

  </div><!-- .footer-inside -->

</footer>